<!DOCTYPE html>
<html lang="en">
<head>

	<title>Настройка графика</title>
	<link rel="stylesheet" href="css/styles.css" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    {% include "styles.html" %}
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div id="wrapper">
        {% include "header.html" %}

		<nav>
            <ul class="top-menu">
                 <li><a href="/#/">HOME</a></li>
                <li><a href="https://my.informatics.ru/">PARTNERS</a></li>
                <li><a href="/#/">CONTACTS</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/registration">REGISTRATION</a></li>
            </ul>
        </nav>
    </div>

    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
              <form class="card p-2">
                <div class="input-group">

                </div>
              </form>
            </div>

            <div class="col-md-8 order-md-1">
              <h4 class="mb-3">  </h4>
              <form class="needs-validation" novalidate="">

                <label for="graphic_type">Type</label>
                <select class="custom-select d-block w-100" id="graphic_type" required="">
                  <option value="">Choose...</option>
                  <option value="">slide Graphic</option>

                </select>

                <div class="row">
                    <form>
                      <h1>Скользящий график</h1>
                      <div class="col-md-6 mb-3">
                        <label for="function">массив Function [i]</label>
                        <input type="text" class="form-control" id="function" placeholder="" value="" required="">
                        <h5>..., 1 1, 2 4, 3 9, 4 16, 5 25, ...</h5>
                      </div>

                        <div>
                            <label for="len">lenght</label>
                            <input type="number" class="form-control" id="len" placeholder="" value="" required="">
                        </div>

                        <div>
                            <label for="shift">shift</label>
                            <input type="number" class="form-control" id="shift" placeholder="" value="" required="">
                        </div>

                        <div>
                            <label for="delay">delay</label>
                            <input type="number" class="form-control" id="delay" placeholder="" value="" required="">
                        </div>
                    </form>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>

                <a href = "/Graphics">Continue</a>
                </div>
              </form>
            </div>
          </div>
        </div>
    </section>

    {% include "footer.html" %}
</body>
</html>
